/* ============================
      HOMEPAGE EDIT SECTION 
   ============================ */

/* Section masquée tant que l'utilisateur n'est pas connecté */

/* Bandeau haut de page */

.edit-section {
  display: none; /* S'active dans le js lors d'un log réussi */
  justify-content: center;

  height: 60px;
  background-color: var(--edit-mode-bg-color);
}

.edit-section .edit-mode {
  display: flex;
  align-items: center;

  gap: 8px;

  color: var(--dark-bg-text-color);
  font-size: 14px;
}

.edit-section .edit-mode .fa-pen-to-square {
  font-size: 19px;
}

.edit-section .edit-button {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.edit-section .edit-button div {
  background-color: var(--dark-bg-text-color);

  font-family: "Work Sans";
  font-weight: 600;

  border-radius: 60px;
  padding: 13px;
  margin-left: 21px;
}

.edit-section .edit-button div:hover {
  color: var(--secondary-color);
}

/* Bouton modifier photo */

.modif-photo {
  display: none; /* S'active dans le js lors d'un log réussi */
  align-items: center;

  margin-top: 10px;
  gap: 8px;
}

.modif-photo .fa-pen-to-square,
.modif-photo p {
  cursor: pointer;
}

.modif-photo .fa-pen-to-square:hover,
.modif-photo p:hover {
  font-weight: var(--hover-text-color);
}

.modif-photo .fa-pen-to-square {
  font-size: 18px;
}

/* Bouton modifier projet */

.modif-projets {
  display: none; /* S'active dans le js lors d'un log réussi */
  align-items: center;

  cursor: pointer;

  margin-left: 31px;
  left: 30px;
  gap: 8px;
}

.modif-projets .fa-pen-to-square:hover,
.modif-projets p:hover {
  font-weight: var(--hover-text-color);
}

.modif-projets .fa-pen-to-square {
  font-size: 18px;
}
