/* ============================
             HEADER
   ============================ */

header .active {
  font-weight: var(--hover-text-color);
}

/* ============================
             LOGIN
   ============================ */

#login {
  display: flex;
  flex-direction: column;

  margin-top: 150px;
  margin-bottom: 355px;
}

#login h2 {
  text-align: center;
}

#login form {
  display: flex;
  flex-direction: column;

  margin: auto;
  width: 380px;

  margin-top: 10px;
}

#login label {
  margin: 2em 0 1em 0;
}

#login input {
  height: 50px;
  font-size: 1.2em;

  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login input:focus {
  outline: 1px solid var(--primary-color);
}

#login #email,
#login #password {
  color: var(--primary-color);
  font-family: "Work Sans";

  padding-left: 15px;
}

#login a {
  text-align: center;
  text-decoration: underline;
}

/* Bloc d'icones d'affichage ou de masquage du password */
.password-icon {
  position: relative;
  left: 350px;
  bottom: 33px;

  transition: all 0.2s;

  color: var(--primary-color);
}

.password-icon:hover {
  cursor: pointer;
}

/* Icone de masquage */
.password-icon .fa-eye-slash {
  display: none;
}

/* Message d'erreur généré par login.js */
#login .error-message {
  display: none;

  color: var(--secondary-color);
  text-align: center;
  margin-top: 15px;
}
