/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* ============================
              RESET
   ============================ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==============
      VARIABLES
   ============== */

:root {
  /* Mains */
  --primary-color: #1d6154;
  --secondary-color: #b1663c;

  /* Backgrounds */
  --bg-color: rgba(255, 254, 248, 1);
  --footer-bg-color: rgba(255, 255, 255, 1);
  --edit-mode-bg-color: rgba(0, 0, 0, 1);

  --add-picture-bg-color: rgba(232, 241, 246, 1);

  /* Texts */
  --dark-bg-text-color: rgba(255, 255, 255, 1);
  --hover-text-color: 600;
  --delete-text-color: rgba(214, 83, 83, 1);
  --hover-delete-text-color: rgb(125, 48, 48);

  --add-picture-button-text-color: rgba(48, 102, 133, 1);

  /* Buttons */
  --hover-btn-color: rgba(14, 47, 40, 1);
  --hover-validate-btn-color: rgba(167, 167, 167, 1);
  --add-picture-button-bg-color: rgba(203, 214, 220, 1);
}

/* ============================
              GLOBAL
   ============================ */

body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;

  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: var(--hover-text-color);

  cursor: pointer;

  transition: 100ms ease-in-out;
}

/* ============================
          EDIT SECTION 
   ============================ */
/* Element masqué tant que l'utilisateur n'est pas connecté */

.edit-section {
  display: none; /* S'active dans le js lors d'un log réussi */
  justify-content: center;

  height: 60px;
  background-color: var(--edit-mode-bg-color);
}

.edit-section .edit-mode {
  display: flex;
  align-items: center;

  gap: 8px;

  color: var(--dark-bg-text-color);
  font-size: 14px;
}

.edit-section .edit-mode .fa-pen-to-square {
  font-size: 19px;
}

.edit-section .edit-button {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.edit-section .edit-button div {
  background-color: var(--dark-bg-text-color);

  font-family: "Work Sans";
  font-weight: 600;

  border-radius: 60px;
  padding: 13px;
  margin-left: 21px;
}

.edit-section .edit-button div:hover {
  color: var(--secondary-color);
}

/* ============================
             HEADER
   ============================ */

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 0px 150px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: var(--secondary-color);
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.05em;

  text-transform: uppercase;
  font-weight: 400;

  margin-top: 7px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul img {
  height: 22px;
  width: 22px;
}

nav li {
  font-size: 16px;

  padding-left: 44px;
}

/* Element masqué tant que l'utilisateur n'est pas connecté */
nav ul .logout {
  display: none;
}

/* ============================
              MAIN
   ============================ */

main {
  max-width: 950px;
  margin: auto;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: var(--primary-color);
}

#introduction {
  display: flex;
  align-items: center;

  margin-top: 139px;
}

#introduction img {
  width: 474px;
  height: 355px;
}

/* Bouton modifier photo */
.modif-photo {
  display: none; /* S'active dans le js lors d'un log réussi */
  align-items: center;

  margin-top: 10px;
  gap: 8px;
}

.modif-photo .fa-pen-to-square,
.modif-photo p {
  cursor: pointer;
}

.modif-photo .fa-pen-to-square:hover,
.modif-photo p:hover {
  font-weight: var(--hover-text-color);
}

.modif-photo .fa-pen-to-square {
  font-size: 18px;
}

/* Fin Bouton modifier photo */

#introduction article {
  margin-left: 72px;

  line-height: 16px;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction article p {
  margin-bottom: 0.5em;
}

#introduction article p:nth-child(2),
#introduction article p:nth-child(3) {
  padding-bottom: 10px;
}

#portfolio h2 {
  text-align: center;
}

.section-projets {
  display: flex;
  justify-content: center;

  margin-top: 139px;
  margin-bottom: 50px;
}

/* Bouton modifier projet */
.modif-projets {
  display: none; /* S'active dans le js lors d'un log réussi */
  align-items: center;

  cursor: pointer;

  margin-left: 31px;
  left: 30px;
  gap: 8px;
}

.modif-projets .fa-pen-to-square:hover,
.modif-projets p:hover {
  font-weight: var(--hover-text-color);
}

.modif-projets .fa-pen-to-square {
  font-size: 18px;
}

/* ============================
             FILTERS
   ============================ */

.filtres {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.filtres button {
  color: var(--primary-color);
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);

  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;

  border-radius: 60px;

  margin-bottom: 50px;
}

/* Tailles de boutons spécifiques*/
.filtres .objets,
.filtres .btn-tous {
  padding: 0.5em 1.5em;
}

.filtres .appartements,
.filtres .hotels-restaurants {
  padding: 0.5em 0.7em;
}

.filtres button:hover,
.filtres button:active {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid white;

  cursor: pointer;

  transition: 500ms;
}

/* ============================
            GALLERY
   ============================ */

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

.gallery figcaption {
  font-size: 13px;
  padding-top: 7px;
}

/* ============================
              FORM
   ============================ */

#contact {
  width: 37%;
  margin: auto;

  margin-top: 57px;
}

#contact > * {
  text-align: center;
}

#contact h2 {
  margin-bottom: 11px;
}

#contact form {
  text-align: left;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;

  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="text"],
#contact input[type="email"] {
  padding-left: 15px;
}

#contact input:focus {
  outline: 1px solid var(--primary-color);
}

#contact textarea:focus {
  outline: 1px solid var(--primary-color);
}

#contact label {
  margin: 2em 0 1em 0;
}

#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

  padding: 10px;
}

input[type="button"],
input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px !important;

  color: white;
  background-color: var(--primary-color);

  margin: 2em auto;
  width: 180px;
  height: 37px !important;

  text-align: center;
  border-radius: 60px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: var(--hover-btn-color);

  transition: 500ms;
}

/* ============================
             FOOTER
   ============================ */

footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 60px;

  background-color: var(--footer-bg-color);
}

footer nav ul {
  display: flex;
  margin-right: 107px;
}

footer nav li {
  font-size: 14px;
  font-weight: 300;
}

/* ============================
          MEDIA QUERIES  
   ============================ */

/* ============================
          LARGE DESKTOP  
   ============================ */

@media (min-width: 1440.1px) {
  /* HEADER */
  header {
    margin: 50px 20em 0px 20em;
  }

  /* FOOTER */
  footer nav ul {
    margin-right: 20em;
  }
}

/* ==============
       TABLET
   ============== */

@media (max-width: 1024px) {
  /* HEADER */
  header {
    flex-direction: column;
    text-align: center;
  }

  header ul {
    justify-content: center;
    margin-top: 50px;
  }

  header nav li:nth-child(1) {
    padding: 0;
  }

  /* SECTION INTRO */
  #introduction {
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
  }

  #introduction h2 {
    line-height: 30px;
  }

  #introduction article {
    margin: auto;
    max-width: 474px;
    text-align: center;
  }

  /* GALLERY */
  .gallery {
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }

  /* FOOTER */
  footer {
    justify-content: center;
  }

  footer nav ul {
    margin: auto;
  }

  footer nav li {
    padding: 0;
  }
}

/* ==============
       MOBILE
   ============== */

@media (min-width: 320px) and (max-width: 768px) {
  /* EDIT SECTION */

  .edit-section {
    flex-direction: column;
    height: 130px;
  }

  .edit-section .edit-mode {
    justify-content: center;
  }

  .edit-section .edit-button {
    justify-content: center;
    margin-top: 15px;
  }

  /* HEADER */

  header {
    width: 100%;
    margin: auto;
    margin-top: 50px;
  }

  header nav ul {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
  }

  header nav ul li {
    font-size: 18px;
  }

  /* Intermediaire */
  /* *********** */
  @media (min-width: 320px) and (max-width: 420px) {
    #introduction {
      margin-top: 60px;
    }

    header nav ul {
      flex-direction: column;
      gap: 15px;
    }
    header nav li {
      padding: 0;
    }
  }
  /* *********** */

  /* SECTION INTRO */
  #introduction img {
    width: 80%;
    height: 80%;
  }

  #introduction figure {
    text-align: center;
  }

  /* Bouton modifier photo */
  .modif-photo {
    justify-content: center;
    margin-top: 20px;

    font-size: 16px;
  }

  #introduction article {
    width: 75%;
  }

  /* Modifier projet */
  .section-projets {
    flex-direction: column;
    margin-top: 70px;
  }

  .modif-projets {
    justify-content: center;
    position: inherit;
    margin-top: 25px;
    margin-left: 0;

    font-size: 16px;
  }

  /* FILTERS */
  .filtres {
    flex-direction: column;
    margin: auto;
    width: 70%;
  }

  .filtres button {
    margin: 10px;
  }

  /* GALLERY */
  .gallery {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    grid-template-columns: 1fr;
  }

  /* FORM */
  #contact {
    width: 60%;
  }
}
